<ion-card color="primary">
    <ion-card-header>
        <ion-card-title>
            <strong>Whats this?</strong>
        </ion-card-title>
    </ion-card-header>
</ion-card>


<ion-card>
    <ion-card-content>
        <ion-text>
            <p>
            This is a dev experiment to understand the complexities around dynamic data driven form construction. while
            using Angular with Ionic components
            </p>
        </ion-text>
    </ion-card-content>
</ion-card>

<ion-card color="secondary">
    <ion-card-header>
        <ion-card-title>
            <strong>Assumptions</strong>
        </ion-card-title>
    </ion-card-header>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-text>
            <p>
            It is possible to write an algorithm that consumes an API that produces a DTO stipulating specific
            enumeration of different types form controls. Consumption of this API also determines the configuration and
            content that send signals to the user, what actions are required of what actions is required.
            </p>
        </ion-text>
    </ion-card-content>
</ion-card>

<ion-card color="tertiary">
    <ion-card-header>
        <ion-card-title>
            <strong>Execution</strong>
        </ion-card-title>
    </ion-card-header>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-text>
            <p>
            Create a reusable generic Angular component to display a dynamic form. Tranlate the DTO into a model and use
            reflection, iteration and switching to enable the dynamic nature of the component.
            </p>
        </ion-text>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-item-divider align="center" lines="inset">
                <ion-label>Figure A</ion-label>
        </ion-item-divider>
        <ion-img [src]="imgPath"></ion-img>
        <ion-item-divider lines="inset"></ion-item-divider>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-card-title>
            <strong>Figure A Brief</strong>

        </ion-card-title>
<!--        </ion-text>-->
        <ion-text>
            <p>
            Blue C and purple X is the form factory and contain the form control prototypes. Red R is the router module, Orange C and its views are the form containers. Orange and Purple Models are the that are respectively called upon that define a specific enumeration and configuration of a form.
            <br><br>
            The user selects a path to visit leading to on of the orange C controller components. This triggers a chain effect that passes a variable to blue C, this variable value is dependant on the route. The variable instructs the API on which DTO to call, the response is reflected upon in the view. The each iteration a form control n a list of form controls is switched on according the params on the DTO.
                once iteration completed the form is rendered.
            </p>
        </ion-text>
    </ion-card-content>
</ion-card>

<ion-card color="medium">
    <ion-card-header>
        <ion-card-title>
            <strong>Conclusion</strong>
        </ion-card-title>
    </ion-card-header>
</ion-card>

<ion-card>
    <ion-card-content>
        <ion-text>
            <p>
                Experiment is a success as per the other routes in this app the process described herin has been executed proving assumptions to be true.
                The two forms subsequintly contained herin seem like different views to the user but excpt for the static content it is the same component that renders as decribed.
            </p>
        </ion-text>
    </ion-card-content>
</ion-card>
<!--<ion-->


