<ion-app>

    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>

                <ion-list id="inbox-list">
                    <ion-list-header>Dynamic Form Experiment</ion-list-header>
                    <ion-note><a href="https://cliffcrerar.tech" target="_blank">by Cliff Crerar</a></ion-note>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="onMenuClick(i)"
                                  routerDirection="root"
                                  [routerLink]="[p.url]"
                                  lines="none"
                                  detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>

                        </ion-item>
                        <ion-item-divider *ngIf="i===0">Subjects:</ion-item-divider>

                    </ion-menu-toggle>

                </ion-list>
                <ion-item-divider>Additional Information</ion-item-divider>


                <ion-content color="light">

                    <app-code-display [codeEmitter]="codeEmitter"></app-code-display>
                </ion-content>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
